/* Id$ */

body {
	padding:0;
	margin:0;
	background: #fff !important;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

#tell-a-friend-box { 
	background: #fff;
	width: 450px;
	padding: 20px;
	height: 500px;
	position: relative;
}

#tell-a-friend-box .captcha {
	text-transform:uppercase;
}

#tell-a-friend-box #logo {
	padding: 0 0 20px;
	margin: 0 0 10px;
	display: block;
	border-bottom: 1px solid #ccc;
}

#tell-a-friend-box form {
	position: static;
}

#tell-a-friend-box ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tell-a-friend-box ol li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tell-a-friend-box form {
	margin: 0;
	padding: 0;
}

#tell-a-friend-box li, #tell-a-friend-box p {
	height: 30px;
	margin: 0 0 5px;
	padding: 0;
}

#tell-a-friend-box ul li {
	height: auto;
}

#tell-a-friend-box  label {
	float: left;
	width: 100px;
	vertical-align: middle;
	clear: left;
	position: relative;
	top: 4px;
}

#tell-a-friend-box input {
	vertical-align: middle;
	float: left;
	width: 340px;

}

#tell-a-friend-box textarea {
	float: left;
	width: 340px;
	height: 65px;

}

#tell-a-friend-box .message textarea {
	height: 80px;
	line-height: 1.5em;
}

#tell-a-friend-box .textarea {
	height: 80px;
}


#tell-a-friend-box .checkbox {
	margin-top: 20px;
}
#tell-a-friend-box .checkbox input {
	margin: 0 10px 0 100px;
	width: auto;
	border: none;
}

#tell-a-friend-box .verify, #tell-a-friend-box .verification,  {
	margin-left: 100px;
}

#tell-a-friend-box .verify  label, #tell-a-friend-box .verification  label{
	float: none;
	display: block;
	margin-bottom: 10px;
	width: auto;
}

#tell-a-friend-box .navigation {

	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 10px;
	height: 55px;
	border-top: 1px solid #ccc;
}

#tell-a-friend-box .navigation input {
	position: relative;
	float: none;
	width: auto;
	padding: 5px 30px;
	text-transform: none;
}

#tell-a-friend-box .navigation .next {
	position: absolute;
	right: 0;
	bottom: 0;
}

#tell-a-friend-box .navigation .previous {
	position: absolute;
	line-height: 35px;
	left: 0;
	bottom: 0;
}


#tell-a-friend-box .navigation .previous  a {
	font-weight: bold;
	text-decoration: none;
}

.clean {
	display:block;
	margin-top:30px;
	color:black;
	text-decoration:none;
}
.clean:hover {
	text-decoration:underline;
}